@keyframes open {
    from {
        height: 0%;
    }

    to {
        height: 100%;
    }
}

@keyframes close {
    from {
        height: 100%;
    }

    to {
        height: 0%;
    }
}

.detailScan {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(114, 102, 102, 0.557);
    z-index: 1000;
    .mainPopup {
        width: 70%;
        height: 70%;
        background-color: rgb(248, 254, 252);
        border-radius: 6px;
        box-sizing: border-box;
        overflow: hidden;
        .headerPopup {
            width: 94%;
            padding: 8px 3%;
            background: #13655d;
            color: #FFFFFF;

            &:hover {
                cursor: pointer;
            }

            .title {
                font-size: 16px;
                font-weight: bold;
            }

            .close {
                padding: 8px;
            }
        }

        .bodyPopup {
            width: 90%;
            height: 90%;
            padding: 0px 5%;
            display: flex;
            gap: 1rem;
            position: relative;

            .imgBook {
                width: 35%;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding: 0 1rem;
                gap: 1rem;
                border-radius: 8px 8px 0 0;
                align-items: center;
                background-color: #ffffff;

                >div {
                    display: flex;
                    margin: auto;
                    flex-direction: column;
                    gap: 1rem;
                    justify-content: center;
                    align-items: center;

                    >img {
                        width: 300px;
                        height: 300px;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    >div {
                        display: flex;
                        gap: 1rem;

                        .role {
                            margin: 0;
                            min-width: 20%;
                            padding: 8px 20px;
                            background-color: #524d4d;
                            border-radius: 5px;
                            color: #ffffff;
                            line-height: 18px;
                        }

                        .callcard {
                            min-width: 20%;
                            margin: 0;
                            padding: 8px 20px;
                            background-color: #71c55b;
                            border-radius: 5px;
                            color: #ffffff;
                            text-align: center;
                            cursor: pointer;
                            line-height: 18px;
                        }


                        .popupCallCards {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            z-index: 1000;
                            border: none;
                            display: none;

                            .mainPopupCallCards {
                                width: 100%;
                                height: 100%;
                                background-color: rgb(248, 254, 252);
                                border-radius: 0 0 6px 6px;
                                box-sizing: border-box;
                                overflow: hidden;
                                margin: auto;

                                .headerPopup {
                                    width: 94%;
                                    padding: 8px 3%;
                                    color: #fd5a59;
                                    background-color: transparent;
                                    display: flex;
                                    justify-content: center;
                                    position: relative;

                                    &:hover {
                                        cursor: pointer;
                                    }

                                    .title {
                                        font-size: 16px;
                                        font-weight: bold;
                                        align-self: center;
                                    }

                                    .close {
                                        padding: 8px;
                                        position: absolute;
                                        left: 28px;
                                        top: 0;
                                        cursor: pointer;

                                        >i {
                                            font-size: 20px;
                                        }
                                    }

                                }

                                .bodyPopup {
                                    width: 90%;
                                    height: 80%;
                                    padding: 20px 5%;
                                    display: flex;
                                    gap: 1rem;
                                    background: #e6e7e4;

                                }
                            }
                        }


                        .checkedpopup {
                            display: none;

                            &:checked~.popupCallCards {
                                display: inherit;
                                animation: open 1s forwards;
                            }

                        }


                    }


                }

                >section {
                    height: fit-content !important;
                }
            }

            .result {
                width: 75%;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding: 0 18px;
                gap: 1rem;
                border-radius: 8px 0 0 0px;
                background-color: #FFFFFF;
                // border: 1px solid #918f8f;/
                box-sizing: border-box;
                // overflow: hidden;
                scroll-behavior: smooth;
                overflow-y: 'scroll';
                overflow-x: hidden;
                display: flex;
                flex-direction: column;
                justify-content: center;

                &::-webkit-scrollbar {
                    width: 4px;
                    /*Gives you width to the scrollbar*/
                    border-radius: 2px;
                }

                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
                    /*Gives styles to the scrollbar*/
                }

                &::-webkit-scrollbar-thumb {
                    background-color: rgb(97, 94, 94);
                    /*Gives background color to the scrollbar*/
                }

                .main {
                    width: 100%;

                    >div {
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        // flex-wrap: wrap;

                        .flexItems {
                            display: flex;

                        }
                    }
                }


                .titleResult {
                    padding: 10px;
                    font-size: 20px;
                    text-align: center;
                    font-weight: 800;
                    color: #fd5a59;
                    text-transform: uppercase;
                }

                .groupBtn {
                    margin: 1.5rem 1rem 20px 1rem;
                    justify-content: flex-end;
                    display: flex;
                    gap: 1rem;

                    >button {
                        min-width: 30%;
                    }
                }
            }
        }
    }
}

.loginFormBodyItem {
    width: 95%;
    padding: 0px 2.5%;
    display: flex;
    justify-content: center;
    position: relative;



    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #918f8f;
        border-radius: 4px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #6f6d6d;
    }

    :focus {
        outline: none;
    }

    input {
        width: 100%;
        height: 20px;
        font-size: 12px;
        padding: 10px;
        color: #6f6d6d;
        border: 1px solid #918f8f;
        border-radius: 5px;
        font-size: 15px;
        background-color: #ffffff;
    }

    textarea {
        width: 100%;
        height: fit-content;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding: 10px;
        color: #6f6d6d;
        border: 1px solid #918f8f;
        border-radius: 5px;
        font-size: 15px;
        background-color: #ffffff;
    }


    :focus {
        outline: none;
        border: 1px solid #697fe2;
    }

    span {
        position: absolute;
        top: -11px;
        color: #213db8;
        font-weight: 500;
        font-size: 15px;
        left: 30px;
        padding: 0 6px;
        pointer-events: none;
        background: #ffffff;

    }
}