@import "src/asset/helpers/variable";

.sidebar {
  height: 100%;
  width: 100%;
  box-shadow: 1px 1px 1px solid #747171;
  color: #ffffff;
  background: #1e1e1f;

  .header {
    height: 28%;
    width: 100%;
    .mainheader {
      width: 100%;
      .name {
        margin-top: 10px;
        text-align: center;
        font-size: 22px;
      }
      .role{
        margin-top: 15px;
        button{
          padding:6px 25px;
          background-color: #ffffff;
          font-weight: 600;
          color:#131313;
          border-radius: 5px;
        }
      }
    }
  }
  .menu {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    height: 92%;
    width: 100%;
    .item {
      width: 100%;
      text-align: start;
      padding: 0px 0%;
      font-size: 18px;
      border-bottom: 0.1px solid rgb(188, 187, 187);
      height: 60px;
      .mainItem {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        transition: all 0.70s;
        -webkit-transition: all 0.70s;
        a {
          font-family: "Poppins", sans-serif;
          padding-left: 15px;
          .name1 {
            margin-left: 25px;
            color: #ffffff;
          }
          .icon1{
            color: #ffffff;
          }
        }

        &:hover {
          background: #ffffff;
          a {
            color: #131313;
            .icon1{
              color: #131313;
            }
            .name1{
              color: #131313;
            }
          }

        }
      }
    }
  }
}

.image {
  margin-top: 30px;
  margin-left: 25%;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  border: 4px solid #ffffff;
  >div{
    border-radius: 50%;
  }
}

