@keyframes open {
    from {
        height: 0%;
    }

    to {
        height: 100%;
    }
}

@keyframes close {
    from {
        height: 100%;
    }

    to {
        height: 0%;
    }
}

.detailScan {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(114, 102, 102, 0.73);
    z-index: 1000;

    .mainPopup {
        width: 50%;
        height: 48%;
        background-color: rgb(248, 254, 252);
        border-radius: 6px;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        .headerPopup {
            width: 94%;
            padding: 10px 3%;
            background: #13655d;
            color: #FFFFFF;

            &:hover {
                cursor: pointer;
            }

            .title {
                font-size: 18px;
            }
        }

        .bodyPopup {
            width: 90%;
            height: 90%;
            padding: 0 5%;
            display: flex;
            gap: 1rem;
            background: #ffffff;

            .result {
                margin-top: 40px;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                border-radius: 8px 0 0 0px;
                background-color: #FFFFFF;
                box-sizing: border-box;
                &::-webkit-scrollbar {
                    width: 4px;
                    border-radius: 2px;
                }
                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
                }
                &::-webkit-scrollbar-thumb {
                    background-color: rgb(97, 94, 94);
                }
                .main {
                    width: 100%;
                    >div {
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        .flexItems {
                            display: flex;

                        }
                    }
                }
                .groupBtn {
                    margin-top: 20px;
                    padding-right: 15px;
                    justify-content: flex-end;
                    display: flex;
                    gap: 1rem;
                }
            }
        }
    }
}

.loginFormBodyItem {
    width: 95%;
    padding: 0px 2.5%;
    display: flex;
    justify-content: center;
    position: relative;



    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #918f8f;
        border-radius: 4px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #6f6d6d;
    }

    :focus {
        outline: none;
    }

    input {
        width: 100%;
        height: 20px;
        font-size: 12px;
        padding: 10px;
        color: #6f6d6d;
        border: 1px solid #918f8f;
        border-radius: 5px;
        font-size: 15px;
        background-color: #ffffff;
    }

    textarea {
        width: 100%;
        height: fit-content;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding: 10px;
        color: #6f6d6d;
        border: 1px solid #918f8f;
        border-radius: 5px;
        font-size: 15px;
        background-color: #ffffff;
    }


    :focus {
        outline: none;
        border: 1px solid #697fe2;
    }

    span {
        position: absolute;
        top: -11px;
        color: #213db8;
        font-weight: 500;
        font-size: 15px;
        left: 30px;
        padding: 0 6px;
        pointer-events: none;
        background: #ffffff;
    }
}

.btnReset{
    padding: 10px 20px ;
    background-color: #13655d;
    color: #FFFFFF;
}