.addOder {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(114, 102, 102, 0.523);
  z-index: 500;

  .addOderMain {
    width: 40%;
    height: auto;
    background-color: #ffffff;
    border-radius: 6px;
    padding-bottom: 20px;
    border-radius: 10px;
    .header {
      width: 94%;
      padding: 8px 3%;
      border-bottom: 1px solid #999fa0;
      background: #13655d;
      color: #ffffff;
      font-family: "Poppins", sans-serif;
      &:hover {
        cursor: pointer;
      }
      .title {
        font-size: 16px;
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: 90%;
      width: 90%;
      padding: 0 5%;
      scroll-behavior: smooth;
      overflow-y: 'scroll';
      overflow-x: hidden;
      .items{
        width:90%;
        margin-top:15px;
        padding: 5px 5%;
        input{
          border:1px solid #5a5f65;
          outline:none;
          width:100%;
          padding:8px 4px;
        }
        p{
          margin:4px 0;
          font-size: 14px;
        }
        button{
          padding:10px 15px;
          background-color:#119fac;
          color:#ffffff;
          border-radius: 6px;
        }
        select{
          width: 102.5%;
          padding: 10px 0;
        }
      }
      &::-webkit-scrollbar {
        width: 4px;
        border-radius: 2px;
      }
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgb(97, 94, 94);
      }
      .componentAddBook {
        width: 100%;
        display: flex;
        gap: 1rem;

        .scan {
          width: 35%;
          display: flex;
          height: 100%;
          flex-direction: column;
          gap: 1rem;
          align-items: center;

          .note {
            font-weight: 640;
            padding: 10px;
            color: rgb(26, 25, 25);
            display: block;
          }
        }

        .formadd {
          flex: 1;
          padding: 0 10px;
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .titleResult {
            padding: 10px 0;
            text-align: center;
            font-weight: 600;
            margin-left: -20px;
            font-size: 20px;
            color: #fd5a59;
          }

          .infoBook {
            flex: 1;
            display: flex;
            gap: 1rem;

            .imgBookCover {
              display: flex;
              flex-direction: column;
              gap: 1rem;

              .imgCover {
                width: 200px;
                height: 250px;
                overflow: hidden;
                border-radius: 8px;
                border: 1px solid #918f8f;

                .addImg {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 8px;
                  justify-content: center;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  gap: 1rem;

                  >div {
                    font-size: 20px;
                  }

                  >i {
                    font-size: 80px;
                    color: #757575;
                  }
                }

                >img {
                  width: 100%;
                  height: 100%;
                  border: none;
                  object-fit: cover;
                  color: #fd5a59;
                }
              }

              button {
                width: 100%;
                padding: 9px 20px;
                cursor: pointer;
                border: none;
                background-color: #143c72;
                color: #ffffff;
                font-size: 14px;
                font-weight: 570;
                border-radius: 4px;
                font-family: "Poppins", sans-serif;
                transition: all 0.70s;
                -webkit-transition: all 0.70s;

                &:hover {
                  opacity: 0.8;
                }

                &:nth-child(2) {
                  background-color: #196961;
                }
              }
            }

            .formI4Book {
              flex: 1;

              .main {
                width: 100%;

                div {
                  display: flex;
                  flex-direction: column;
                  gap: 1.45rem;

                  .loginFormBodyItem {
                    width: 90%;
                    padding: 0px 2.5%;
                    display: flex;
                    justify-content: center;
                    position: relative;



                    select {
                      width: 100%;
                      padding: 11.5px;
                      font-size: 12px;
                      color: black;
                      border: 1px solid #918f8f;
                      border-radius: 4px;
                    }

                    :focus {
                      outline: none;
                    }

                    input {
                      width: 100%;
                      height: 20px;
                      font-size: 14px;
                      padding: 10px;
                      color: #6f6d6d;
                      border: 1px solid #918f8f;
                      border-radius: 5px;
                    }

                    :focus {
                      outline: none;
                      border: 1px solid #697fe2;
                    }

                    span {
                      position: absolute;
                      top: -11px;
                      color: #213db8;
                      font-weight: 500;
                      font-size: 15px;
                      left: 30px;
                      padding: 0 6px;
                      pointer-events: none;
                      background: #ffffff;

                    }
                  }
                }
              }
            }
          }
        }
      }

      .callcard {
        width: 100%;
        height: auto;
        padding: 30px 0;
        margin-top: 30px;
        background-color: #fdfdfd;
        border: 1px solid #918f8f;
        border-radius: 8px;
        margin-bottom: 30px;

        >h4 {
          padding: 6px;
          margin: 10px;
          font-size: 20px;
          text-align: center;
          text-transform: uppercase;
          color: #fd5a59;
        }

        .formCallcard {
          display: flex;
          width: 90%;
          margin: auto;
          flex-direction: column;
          gap: 2rem;

          .item {
            margin-top: 12px;
            padding: 8px 0;
            width: 100%;
            display: flex;
            justify-content: space-around;
            border-bottom: 1px solid #fd5a59;
            margin-bottom: 60px;
          }

          .dayComponent {
            display: flex;
            gap: 1rem;

            .dayInput {
              width: 90%;
              display: flex;
              justify-content: center;
              position: relative;

              input {
                width: 100%;
                height: 20px;
                font-size: 15px;
                color: #666666;
                padding: 10px;
                color: #6f6d6d;
                border: 1px solid #918f8f;
                border-radius: 5px;
              }

              :focus {
                outline: none;
                border: 1px solid #697fe2;
              }

              span {
                position: absolute;
                top: -11px;
                color: #213db8;
                font-weight: 500;
                font-size: 15px;
                left: 30px;
                padding: 0 6px;
                border-radius: 6px;
                pointer-events: none;
                background: #ffffff;

              }
            }
          }


          .person {
            display: flex;
            gap: 1rem;
            position: relative;


            .dropdownBorrower {
              position: absolute;
              left: 0;
              background-color: #ffffff;
              border: 1px solid #918f8f;
              border-radius: 8px;
              bottom: 56px;
              min-width: 49%;
              max-height: 130px;
              overflow-y: scroll;
              z-index: 10000;
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              padding: 6px 0;

              &::-webkit-scrollbar {
                width: 4px;
                /*Gives you width to the scrollbar*/
                border-radius: 2px;
              }

              &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
                /*Gives styles to the scrollbar*/
              }

              &::-webkit-scrollbar-thumb {
                background-color: rgb(97, 94, 94);
                /*Gives background color to the scrollbar*/
              }

              .itemBorrower {
                display: flex;
                padding: 8px;
                justify-content: space-between;
                cursor: pointer;

                &:hover {
                  background-color: #c1c1c1;
                }
              }
            }


            .personItem {
              width: 90%;
              display: flex;
              justify-content: center;
              position: relative;

              input,
              select {
                width: 100%;
                height: 20px;
                font-size: 15px;
                color: #666666;
                padding: 10px;
                color: #6f6d6d;
                border: 1px solid #918f8f;
                border-radius: 5px;
                background-color: #ffffff;
              }

              :focus {
                outline: none;
              }

              span {
                position: absolute;
                top: -11px;
                color: #213db8;
                font-weight: 500;
                font-size: 15px;
                left: 30px;
                padding: 0 6px;
                border-radius: 6px;
                pointer-events: none;
                background: #ffffff;

              }
            }
          }

          .submit {
            display: flex;
            gap: 1rem;

            .personItem {
              width: 100%;
              display: flex;
              position: relative;

              input {
                width: 100%;
                height: 20px;
                font-size: 15px;
                color: #666666;
                padding: 10px 6.5% 10px 10px;
                color: #6f6d6d;
                border: 1px solid #918f8f;
                border-radius: 5px;
                background-color: #ffffff;
              }

              :focus {
                outline: none;
              }

              span {
                position: absolute;
                top: -11px;
                color: #213db8;
                font-weight: 500;
                font-size: 15px;
                left: 30px;
                padding: 0 6px;
                border-radius: 6px;
                pointer-events: none;
                background: #ffffff;

              }
            }

            .btnBorrow {
              width: 100%;
              display: flex;
              justify-content: end;

              button {
                padding: 0;
                border: none;
                height: 100%;
                min-width: 200px;
                color: #ffffff;
                cursor: pointer;
                font-size: 16px;
                font-weight: 650;
                background-color: #0d4389;
                border-radius: 4px;
                transition: all 0.70s;
                -webkit-transition: all 0.70s;

                &:hover {
                  opacity: 0.8;
                }
              }
            }

          }
        }
      }
    }
  }
}

.loginFormBodyItemBtn {
  display: flex;
  gap: 0.5rem;
}