.addOder {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(114, 102, 102, 0.523);
  z-index: 500;

  .addOderMain {
    width: 40%;
    height: 68%;
    background-color: #ffffff;
    border-radius: 6px;
    box-sizing: border-box;
    overflow: hidden;
    .header {
      width: 94%;
      padding: 8px 3%;
      border-bottom: 1px solid #999fa0;
      background: #13655d;
      color: #ffffff;
      font-family: "Poppins", sans-serif;

      &:hover {
        cursor: pointer;
      }
      .title {
        font-size: 16px;
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: 90%;
      width: 90%;
      padding: 0 5%;
      scroll-behavior: smooth;
      overflow-y: 'scroll';
      overflow-x: hidden;

      .items{
        width:100%;
        margin-top:15px;
        input{
          border:1px solid #5a5f65;
          outline:none;
          width:calc(100% - 18px);
          padding: 8px 9px;
        }
        p{
          margin:4px 0;
          font-size: 14px;
        }
        select{
          padding: 10px 0;
          width: 101.4%;
        }
        textarea{
          width:calc(100% - 18px);
          padding: 4px 9px;
          height: 80px;
        }
        button{
          padding:10px 15px;
          margin-top: 20px;
          background-color:#217788;
          color:#ffffff;
          border-radius: 4px;
        }
      }

      &::-webkit-scrollbar {
        width: 4px;
        /*Gives you width to the scrollbar*/
        border-radius: 2px;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
        /*Gives styles to the scrollbar*/
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgb(97, 94, 94);
        /*Gives background color to the scrollbar*/
      }
    }
  }
}

.loginFormBodyItemBtn {
  display: flex;
  gap: 0.5rem;
}