@keyframes open {
    from {
        height: 0%;
    }

    to {
        height: 100%;
    }
}

@keyframes close {
    from {
        height: 100%;
    }

    to {
        height: 0%;
    }
}


.detailScan {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(114, 102, 102, 0.649);
    z-index: 1000;

    .mainPopup {
        width: 50%;
        height: 56%;
        background-color: rgb(248, 254, 252);
        border-radius: 6px;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;

        .headerPopup {
            width: 94%;
            padding: 8px 3%;
            background: #13655d;
            color: #FFFFFF;
            &:hover {
                cursor: pointer;
            }
            .title {
                font-size: 16px;
            }
        }

        .bodyPopup {
            width: 90%;
            height: 90%;
            padding: 20px 5%;
            display: flex;
            gap: 1rem;
            background: #e6e7e4;

            .checkedBooks {
                display: none;

                &:checked~.popupBooks {
                    display: inherit;
                    animation: open 1s forwards;
                }

                &:checked~.result {
                    display: none !important;
                }

                &:checked~.imgBook {
                    .groupImg {
                        .front {
                            .btnListBooks {
                                background-color: #1976d2;
                                color: #fff;

                                >i {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }


            }

            .imgBook {
                width: 35%;
                display: flex;
                flex-direction: column;
                padding: 0 1rem;
                gap: 1rem;
                align-items: center;
                background-color: #ffffff;

                >input {
                    display: none;
                }

                .groupImg {
                    width: 100%;
                    margin: auto;
                    height: 100%;
                    background-color: #ffffff;

                    transform-style: preserve-3d;
                    transition: all 0.5s ease;
                    position: relative;

                    .front {
                        width: 100%;
                        margin: auto;
                        height: 70%;
                        border-radius: 8px;
                        border: 1px solid #13655d;

                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        align-items: center;

                        position: absolute;
                        top: 50px;
                        left: 0;

                        .btnListBooks {
                            padding: 5px 18px;
                            border: 1px solid #697fe2;
                            border-radius: 5px;
                            cursor: pointer;
                            color: #213db8;
                            align-content: center;
                            text-align: center;
                            position: relative;
                            transition: all .35s;

                            &::after {
                                position: absolute;
                                content: "";
                                top: 0;
                                left: 0;
                                width: 0;
                                height: 100%;
                                background: #1976d2;
                                transition: all .35s;
                                z-index: -1;
                            }


                            &:hover {
                                color: #fff;

                                >i {
                                    color: #fff;
                                }
                            }

                            &:hover:after {
                                width: 100%;
                            }

                            >i {
                                margin-left: 6px;
                                color: #213db8;
                            }
                        }



                        >img {
                            width: 200px;
                            height: 200px;
                            margin-top: 1rem;
                            object-fit: cover;
                            border: 1px solid #6f6d6d;

                        }

                    }
                }


                >section {
                    height: fit-content !important;
                }
            }

            .popupBooks {

                width: 75%;
                height: 100%;
                display: none;
                flex-direction: column;
                padding: 0 18px;
                gap: 1rem;
                border-radius: 8px 0 0 0px;
                background-color: #FFFFFF;
                box-sizing: border-box;
                scroll-behavior: smooth;
                overflow-y: 'scroll';
                overflow-x: hidden;
                box-shadow: 1px 1px 1px 1px #918f8f;

                &::-webkit-scrollbar {
                    width: 0px;
                    /*Gives you width to the scrollbar*/
                    border-radius: 2px;
                }

                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
                    /*Gives styles to the scrollbar*/
                }

                &::-webkit-scrollbar-thumb {
                    background-color: rgb(97, 94, 94);
                    /*Gives background color to the scrollbar*/
                }

                .titleResult {
                    padding: 10px;
                    font-size: 20px;
                    text-align: center;
                    font-weight: 800;
                    color: #fd5a59;
                    text-transform: uppercase;
                }

                .mainBooks {
                    width: 100%;
                    height: 100%;
                    background-color: rgb(248, 254, 252);

                }
            }


            .result {
                width: 75%;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding: 0 18px;
                gap: 1rem;
                border-radius: 8px 0 0 0px;
                background-color: #FFFFFF;
                // border: 1px solid #918f8f;/
                box-sizing: border-box;
                // overflow: hidden;
                scroll-behavior: smooth;
                overflow-y: 'scroll';
                overflow-x: hidden;
                box-shadow: 1px 1px 1px 1px #918f8f;

                &::-webkit-scrollbar {
                    width: 4px;
                    /*Gives you width to the scrollbar*/
                    border-radius: 2px;
                }

                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
                    /*Gives styles to the scrollbar*/
                }

                &::-webkit-scrollbar-thumb {
                    background-color: rgb(97, 94, 94);
                    /*Gives background color to the scrollbar*/
                }

                .main {
                    width: 100%;

                    >div {
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        // flex-wrap: wrap;

                        .flexItems {
                            display: flex;

                        }
                    }
                }


                .titleResult {
                    padding: 10px;
                    font-size: 20px;
                    text-align: center;
                    font-weight: 800;
                    color: #fd5a59;
                    text-transform: uppercase;
                }

                .groupBtn {
                    margin: 1.5rem 0 20px 0;
                    justify-content: flex-end;
                    display: flex;
                    gap: 1rem;
                }
            }
        }
    }
}

.loginFormBodyItem {
    width: 95%;
    padding: 0px 2.5%;
    display: flex;
    justify-content: center;
    position: relative;



    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #918f8f;
        border-radius: 4px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #6f6d6d;
    }

    :focus {
        outline: none;
    }

    input {
        width: 100%;
        height: 20px;
        font-size: 12px;
        padding: 10px;
        color: #6f6d6d;
        border: 1px solid #918f8f;
        border-radius: 5px;
        font-size: 15px;
        background-color: #ffffff;
    }

    textarea {
        width: 100%;
        height: fit-content;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding: 10px;
        color: #6f6d6d;
        border: 1px solid #918f8f;
        border-radius: 5px;
        font-size: 15px;
        background-color: #ffffff;
    }


    :focus {
        outline: none;
        border: 1px solid #697fe2;
    }

    span {
        position: absolute;
        top: -11px;
        color: #213db8;
        font-weight: 500;
        font-size: 15px;
        left: 30px;
        padding: 0 6px;
        pointer-events: none;
        background: #ffffff;
    }
}